<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galactor - Mary Kelly Portfolio Project</title>
	<!-- Mary Kelly ©2021 marykelly.tech -->
	<link rel="icon" type="image/png" href="/img/mk-favicon-97x97.png" />
	<link rel='stylesheet' href='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css' />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel='stylesheet' href='css/styles.css'>
	<script type='text/javascript' src='https://code.jquery.com/jquery-1.9.1.min.js' charset='utf-8'></script>
</head>
<body>

<%- include ('../nav.html') %>